name: Run Rust tests
on:
  push:
    paths:
      - src/**
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/run-rust-tests.yml
    branches:
      - production
      - staging
  pull_request:
    paths: 
      - src/**
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/run-rust-tests.yml
    branches:
      - production
      - staging
  workflow_dispatch:

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: RUSTFLAGS="-Awarnings" cargo test --all-features